/**
 * Most Popular Places
 */
.places{
	margin-top: 45px;
}
.places__head{
	background: url("../../images/line.png") repeat-x;
	background-position: center right;
	margin-bottom: 30px;

	& h3{
		@include inline-block;
		padding:2px 20px 2px 0;
		@extend %margin-reset;
		background: $bg-color;
	}
}
.places__block{
	border-bottom: 1px solid $border-color;
	@extend %white-bg;
	@include border-radius(5px);
	@extend %overflow-hidden;
	@extend %margin-bottom;
}
.places__block__img{
	@extend .filter__bg;
	width:100%;
	height:200px;
}
.places__details{
	@extend %white-bg;
	padding: 20px 10px;
}
.head__md{
	& h4, & p{
		@extend %margin-reset;
	}
	& h4{
		font-size: 16px;
		color: $primary-color;
		margin-bottom: 5px;
	}
	& p{
		font-size: 12px;
		color:$grey-lighten;
	}
}
.places__price{
	@extend .head__md;

	& h5, & p{
		@extend %margin-reset;
	}
	& h5{
		margin-bottom: 5px;
	}
}
/**
 * Clients Section
 */
.clients{
	margin-top: 20px;
	@extend %white-bg;
	@extend %overflow-hidden;
	padding-top:40px;

	& .places__head{
		background-image: url("../../images/line-dark.png");

		& h3{
			font-size: 18px;
			@extend %white-bg;
			padding: 0 40px;
		}
	}
}
.grid--8{
	width:(100%/8);
}
.grid--padding{
	padding:10px;
	border-top:1px solid lighten($border-color, 15%);
	border-right: 1px solid lighten($border-color, 15%);

	&:nth-of-type(8n){
		border-right: 0;
	}
}
.clients__logo{
	background: no-repeat center center;
	@include background-size(auto);
	height:100px;
}