.navigation{
	background: $primary-color;
	position:relative;
	@include box-shadow(rgba(#000,0.4) 0 2px 3px);
	z-index: $z-top;
}
nav{
	a{
		display: block;
		padding: 12px 25px;
		border-left:1px solid $primary-color-darken;
		color: $white;

		&:hover, &:focus{
			background: $white;
			color: $primary-color;
		}
	}
	li{
		@include inline-block;
		margin-left: -4px;
		position: relative;

		&:first-child{
			margin-left: 0;
			a{
				border-left:0;
			}
		}
		& ul{
			@include position(absolute, 44, auto, auto, 0);
			width: 300px;
			height: 150px;
			background: $white;
			border:1px solid lighten($grey, 30%);
			border-top:0;
			display: none;
		}
		&:hover ul{
			display: block;

		}
	}

}
.search-bar__input{
	margin:8px 0;

	& form{
		@extend %relative;
	}
	& input[type="text"]{
		height:28px;
		width: 203px;
		border-radius:30px;
		box-shadow: none;
		border:none;
		background: $primary-color-darken;
		padding: 4px 12px;
		font-size: 12px;
		color: $white;
		padding-right: 40px;
	}
	& input[type="image"]{
		position: absolute;
		top: 6px;
		right: 10px;
	}
	
}