.search{
	margin: 20px auto;
}
.white--bg{
	width:100%;
	height: auto;
	background: $white;
}
.search__navigation{
	padding: 20px 15px;
	@include box-shadow(rgba(#e6e6e6, 0.3) 1px 1px 6px);
}
.search__headTag{
	& h4{
		@extend %margin-reset;
		margin-bottom: 6px;
	}
}
.search_reset{
	& a{
		color: $black;
		font-size: 13px;
	}
}
.search__stars{
	& label{
		display: block;
	}
	& input[type="checkbox"], & img{
		@extend %verical-middle;
	}
	& img{
		margin-left: 5px;
	}
}