@mixin position($pos, $top, $right, $bottom, $left){
	position: $pos;
	left: $left;
	right: $right;
	bottom: $bottom;
	top: $top;
}

/**
 * Placeholders sass
 */

%absolute-top{
	@include position(absolute, 0, auto, auto, 0);
}
%color-white{
	color:$white;
}
%margin-reset{
	margin:0;
}
%margin-bottom{
	margin-bottom: 15px;
}
%border-1px{
	border:1px solid;
}
%relative{
	position: relative;
}
%overflow-hidden{
	overflow: hidden;
}
%white-bg{
	background: $white;
}
%text-shadow{
	@include text-shadow(rgba(#000, 0.6) 4px 2px 17px);
}
%border-none{
	border: none;
}
%verical-middle{
	@include inline-block;
	verical-middle: middle;
}
%display-none{
	display: none;
}
