@charset "UTF-8";
/**
 * Theme Config
 * #Configure Theme ref: ./base/_variables.scss
 */
/**
 * theme: Blue-Pink
 */
/**
 * theme: Orange
 */
/**
 * #Consistant Percentage for (Darken || Lighten)
 */
/**
 * #Colors Defined
 */
/**
 * #Font Colors Definded
 */
/**
 * #Gutters And Margins Defined
 */
/**
 * Slider Defined
 */
/**
 * Media Quries break points
 */
/**
 * z-index
 */
/**
 * Add New fonts in accordance with the theme 
 * config it in './config/_style.config.scss'
 */
/**
 * Font-family 'Conv_zil'
 */
@font-face {
  font-family: 'Conv_zil';
  src: url("../../fonts/zil.eot");
  src: local("Γÿ║"), url("../../fonts/zil.woff") format("woff"), url("../../fonts/zil.ttf") format("truetype"), url("../../fonts/zil.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/**
 * Reset Bootstrap Grid Guuters
 */
/* line 5, ../../scss/base/_bootstrap-resets.scss */
.row {
  margin-left: -10px;
  margin-right: -10px;
}

/* line 9, ../../scss/base/_bootstrap-resets.scss */
[class^="col-"] {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 13, ../../scss/base/_bootstrap-resets.scss */
ul, ol {
  margin-bottom: 0;
}

/* line 16, ../../scss/base/_bootstrap-resets.scss */
a, a:focus, a:hover {
  text-decoration: none;
}

/**
 * Placeholders sass
 */
/* line 16, ../../scss/base/_extends.scss */
.filter__typo h1, .filter__watchVideo a, .filter__form, .filter__form__sec .form--md .btn, .offers, .offers a, .reviews__user-name, .reviews__quotes, .from-subscription .btn-default, .from-subscription .btn-default:focus, .from-subscription .btn-default:hover {
  color: #ffffff;
}

/* line 19, ../../scss/base/_extends.scss */
.filter__form__sec .form-group, .reviews__user-name p, .reviews__quotes p, .places__head h3, .head__md h4, .places__price h4, .head__md p, .places__price p, .places__price h5, .register_section .head-register, .footer__subscription h4, .footer__subscription p, .from-subscription, .search__headTag h4 {
  margin: 0;
}

/* line 22, ../../scss/base/_extends.scss */
.offers .off, .places__block, .register_section .head-register, .footer__social {
  margin-bottom: 15px;
}

/* line 25, ../../scss/base/_extends.scss */
.filter__form__sec .form-control {
  border: 1px solid;
}

/* line 28, ../../scss/base/_extends.scss */
.search-bar__input form, .filter__bg, .places__block__img, .filter__form__sec .form-group, .offers, .reviews__quotes {
  position: relative;
}

/* line 31, ../../scss/base/_extends.scss */
.places__block, .clients {
  overflow: hidden;
}

/* line 34, ../../scss/base/_extends.scss */
.places__block, .places__details, .clients, .clients .places__head h3, .register_section {
  background: #ffffff;
}

/* line 37, ../../scss/base/_extends.scss */
.filter__typo h1, .filter__watchVideo a, .filter__form {
  text-shadow: rgba(0, 0, 0, 0.6) 4px 2px 17px;
}

/* line 40, ../../scss/base/_extends.scss */
.register_section .btn, .from-subscription .form-control, .from-subscription .btn-default, .from-subscription .btn-default:focus, .from-subscription .btn-default:hover {
  border: none;
}

/* line 43, ../../scss/base/_extends.scss */
.right-section__blocks--myaccount .user__image, .right-section__blocks--myaccount span, .footer__social-icons span, .footer__verify span, .footer__cards span, .footer__social-icons a, .footer__verify a, .footer__cards a, .search__stars input[type="checkbox"], .search__stars img {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  verical-middle: middle;
}

/* line 47, ../../scss/base/_extends.scss */
.filter__form__sec__multiple {
  display: none;
}

/* line 1, ../../scss/modules/_header.scss */
.logo {
  padding: 10px 0;
}

/* line 4, ../../scss/modules/_header.scss */
.right-section__blocks {
  padding: 10px 0 10px 15px;
  margin-top: 30px;
}
/* line 8, ../../scss/modules/_header.scss */
.right-section__blocks li {
  vertical-align: middle;
  padding: 0 10px;
  border-left: 1px solid #c6c6c6;
}
/* line 13, ../../scss/modules/_header.scss */
.right-section__blocks li:first-child {
  border-left: 0;
}
/* line 17, ../../scss/modules/_header.scss */
.right-section__blocks li a {
  font-size: 12px;
  color: #323232;
}
/* line 22, ../../scss/modules/_header.scss */
.right-section__blocks li img, .right-section__blocks li span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
}
/* line 26, ../../scss/modules/_header.scss */
.right-section__blocks li span {
  margin-right: 5px;
}
/* line 30, ../../scss/modules/_header.scss */
.right-section__blocks li:last-child {
  padding-right: 0;
}
/* line 36, ../../scss/modules/_header.scss */
.right-section__blocks li.right-section__blocks--myaccount a {
  color: #53c9f4;
}

/* line 43, ../../scss/modules/_header.scss */
.right-section__blocks--myaccount .user__image {
  width: 25px;
  height: 25px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin-right: 3px;
}

/* line 53, ../../scss/modules/_header.scss */
.icons-review {
  width: 19px;
  height: 20px;
}

/* line 1, ../../scss/modules/_nav.scss */
.navigation {
  background: #53c9f4;
  position: relative;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 3px;
  z-index: 1;
}

/* line 8, ../../scss/modules/_nav.scss */
nav a {
  display: block;
  padding: 12px 25px;
  border-left: 1px solid #0fb1eb;
  color: #ffffff;
}
/* line 14, ../../scss/modules/_nav.scss */
nav a:hover, nav a:focus {
  background: #ffffff;
  color: #53c9f4;
}
/* line 19, ../../scss/modules/_nav.scss */
nav li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: -4px;
  position: relative;
}
/* line 24, ../../scss/modules/_nav.scss */
nav li:first-child {
  margin-left: 0;
}
/* line 26, ../../scss/modules/_nav.scss */
nav li:first-child a {
  border-left: 0;
}
/* line 30, ../../scss/modules/_nav.scss */
nav li ul {
  position: absolute;
  left: 0;
  right: auto;
  bottom: auto;
  top: 44;
  width: 300px;
  height: 150px;
  background: #ffffff;
  border: 1px solid #d7d7d7;
  border-top: 0;
  display: none;
}
/* line 39, ../../scss/modules/_nav.scss */
nav li:hover ul {
  display: block;
}

/* line 46, ../../scss/modules/_nav.scss */
.search-bar__input {
  margin: 8px 0;
}
/* line 52, ../../scss/modules/_nav.scss */
.search-bar__input input[type="text"] {
  height: 28px;
  width: 203px;
  border-radius: 30px;
  box-shadow: none;
  border: none;
  background: #0fb1eb;
  padding: 4px 12px;
  font-size: 12px;
  color: #ffffff;
  padding-right: 40px;
}
/* line 64, ../../scss/modules/_nav.scss */
.search-bar__input input[type="image"] {
  position: absolute;
  top: 6px;
  right: 10px;
}

/* line 1, ../../scss/modules/_filter.scss */
.filter {
  width: 1370px;
  margin: 0 auto;
}

/* line 5, ../../scss/modules/_filter.scss */
.filter__bg, .places__block__img {
  width: 100%;
  height: 500px;
  background: no-repeat center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 12, ../../scss/modules/_filter.scss */
.filter__container {
  padding: 60px 0;
}

/* line 15, ../../scss/modules/_filter.scss */
.filter__typo {
  margin-bottom: 15px;
}
/* line 16, ../../scss/modules/_filter.scss */
.filter__typo h1 {
  margin: 0;
  font-size: 42px;
  line-height: 38px;
  text-transform: uppercase;
}

/* line 27, ../../scss/modules/_filter.scss */
.filter__watchVideo a {
  font-size: 20px;
}

/* line 33, ../../scss/modules/_filter.scss */
.filter__form {
  font-size: 16px;
}

/* line 38, ../../scss/modules/_filter.scss */
.filter__form__sec {
  background: rgba(83, 201, 244, 0.8);
  padding: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 90%;
  position: relative;
  z-index: 2;
}
/* line 46, ../../scss/modules/_filter.scss */
.filter__form__sec .form-group {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 17%;
}
/* line 52, ../../scss/modules/_filter.scss */
.filter__form__sec .form--lg {
  width: 49%;
  margin-bottom: 10px;
}
/* line 56, ../../scss/modules/_filter.scss */
.filter__form__sec .form--md {
  width: 16%;
}
/* line 59, ../../scss/modules/_filter.scss */
.filter__form__sec .form--md .btn {
  width: 100%;
  background: #53c9f4;
  border: 0;
}
/* line 66, ../../scss/modules/_filter.scss */
.filter__form__sec .form-control {
  font-size: 12px;
  box-shadow: none;
  border-color: #53c9f4;
}
/* line 72, ../../scss/modules/_filter.scss */
.filter__form__sec .margin-btm-15 {
  margin-bottom: 10px;
}

/* line 76, ../../scss/modules/_filter.scss */
.filter__form__swtich {
  margin-bottom: 15px;
}
/* line 79, ../../scss/modules/_filter.scss */
.filter__form__swtich a {
  text-decoration: none;
  font-size: 13px;
  display: block;
  padding: 3px 10px;
  background: rgba(15, 177, 235, 0.8);
  color: #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 88, ../../scss/modules/_filter.scss */
.filter__form__swtich a.activeSwitch, .filter__form__swtich a.activeAlaways {
  background: #ffffff;
}

/* line 93, ../../scss/modules/_filter.scss */
.offers {
  width: 176px;
  height: 220px;
  background: url("../../images/pink-bg.png") no-repeat;
  padding: 22px 35px;
}
/* line 101, ../../scss/modules/_filter.scss */
.offers span {
  display: block;
  font-size: 12px;
}
/* line 105, ../../scss/modules/_filter.scss */
.offers .up {
  font-size: 18px;
  line-height: 20px;
}
/* line 109, ../../scss/modules/_filter.scss */
.offers .perc {
  font-size: 50px;
  line-height: 45px;
}
/* line 113, ../../scss/modules/_filter.scss */
.offers .off {
  font-size: 36px;
  line-height: 35px;
}
/* line 118, ../../scss/modules/_filter.scss */
.offers a {
  padding: 10px 25px 15px;
  position: absolute;
  left: auto;
  right: auto;
  bottom: 15px;
  top: auto;
  background: url("../../images/elipse.png") no-repeat center;
  font-size: 12px;
}

/* line 129, ../../scss/modules/_filter.scss */
.filter__form__sec__multiple .form--lg {
  width: 38%;
  margin-bottom: 0;
}
/* line 133, ../../scss/modules/_filter.scss */
.filter__form__sec__multiple .appendable__forms {
  margin-bottom: 10px;
}

/* line 138, ../../scss/modules/_filter.scss */
.filter__form__sec--hotel .form--lg {
  width: 64%;
}

/* line 143, ../../scss/modules/_filter.scss */
.filter__form__sec--car .form--lg {
  width: 40%;
  margin-bottom: 0;
}

/* line 148, ../../scss/modules/_filter.scss */
.reviews {
  position: absolute;
  left: 0;
  right: auto;
  bottom: 0;
  top: auto;
  width: 100%;
  padding: 10px;
  background: rgba(83, 201, 244, 0.7);
}

/* line 154, ../../scss/modules/_filter.scss */
.reviews__user-photo {
  width: 55px;
  height: 55px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin-top: -25px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 162, ../../scss/modules/_filter.scss */
.reviews__user-name, .reviews__quotes {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: 15px;
  font-size: 17px;
}

/* line 172, ../../scss/modules/_filter.scss */
.reviews__quotes {
  margin: 0 50px;
}
/* line 177, ../../scss/modules/_filter.scss */
.reviews__quotes::after, .reviews__quotes::before {
  content: "";
  width: 15px;
  height: 13px;
}
/* line 182, ../../scss/modules/_filter.scss */
.reviews__quotes::after {
  position: absolute;
  left: auto;
  right: -25px;
  bottom: auto;
  top: 5px;
  background: url("../../images/quotes-oppo.png") no-repeat center;
}
/* line 186, ../../scss/modules/_filter.scss */
.reviews__quotes::before {
  position: absolute;
  left: -25px;
  right: auto;
  bottom: auto;
  top: 5px;
  background: url("../../images/quotes.png") no-repeat center;
}

/* line 191, ../../scss/modules/_filter.scss */
.auto__suggest {
  position: absolute;
  width: 100%;
  height: auto;
  background: #fff;
  top: 35px;
  left: 0;
  z-index: 9999;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 5px 8px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 5px 8px 10px;
  box-shadow: rgba(0, 0, 0, 0.6) 5px 8px 10px;
}
/* line 201, ../../scss/modules/_filter.scss */
.auto__suggest ul {
  list-style: none;
  padding: 0;
}
/* line 206, ../../scss/modules/_filter.scss */
.auto__suggest li {
  color: #323232;
  text-shadow: none;
  font-size: 12px;
  padding: 8px 15px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
/* line 214, ../../scss/modules/_filter.scss */
.auto__suggest li:hover {
  background: #53c9f4;
  color: #fff;
}
/* line 219, ../../scss/modules/_filter.scss */
.auto__suggest li .dim-id {
  color: #8a8a8a;
  margin-left: 5px;
}
/* line 224, ../../scss/modules/_filter.scss */
.auto__suggest li .flight-icon {
  margin-right: 10px;
}

/* line 229, ../../scss/modules/_filter.scss */
.overlay-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

/* line 239, ../../scss/modules/_filter.scss */
.selected {
  background: #53c9f4;
}

/**
 * Most Popular Places
 */
/* line 4, ../../scss/modules/_home.scss */
.places {
  margin-top: 45px;
}

/* line 7, ../../scss/modules/_home.scss */
.places__head {
  background: url("../../images/line.png") repeat-x;
  background-position: center right;
  margin-bottom: 30px;
}
/* line 12, ../../scss/modules/_home.scss */
.places__head h3 {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 2px 20px 2px 0;
  background: #f7f7f7;
}

/* line 19, ../../scss/modules/_home.scss */
.places__block {
  border-bottom: 1px solid #c6c6c6;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 26, ../../scss/modules/_home.scss */
.places__block__img {
  width: 100%;
  height: 200px;
}

/* line 31, ../../scss/modules/_home.scss */
.places__details {
  padding: 20px 10px;
}

/* line 39, ../../scss/modules/_home.scss */
.head__md h4, .places__price h4 {
  font-size: 16px;
  color: #53c9f4;
  margin-bottom: 5px;
}
/* line 44, ../../scss/modules/_home.scss */
.head__md p, .places__price p {
  font-size: 12px;
  color: #b0b0b0;
}

/* line 55, ../../scss/modules/_home.scss */
.places__price h5 {
  margin-bottom: 5px;
}

/**
 * Clients Section
 */
/* line 62, ../../scss/modules/_home.scss */
.clients {
  margin-top: 20px;
  padding-top: 40px;
}
/* line 68, ../../scss/modules/_home.scss */
.clients .places__head {
  background-image: url("../../images/line-dark.png");
}
/* line 71, ../../scss/modules/_home.scss */
.clients .places__head h3 {
  font-size: 18px;
  padding: 0 40px;
}

/* line 78, ../../scss/modules/_home.scss */
.grid--8 {
  width: 12.5%;
}

/* line 81, ../../scss/modules/_home.scss */
.grid--padding {
  padding: 10px;
  border-top: 1px solid #ececec;
  border-right: 1px solid #ececec;
}
/* line 86, ../../scss/modules/_home.scss */
.grid--padding:nth-of-type(8n) {
  border-right: 0;
}

/* line 90, ../../scss/modules/_home.scss */
.clients__logo {
  background: no-repeat center center;
  -moz-background-size: auto;
  -o-background-size: auto;
  -webkit-background-size: auto;
  background-size: auto;
  height: 100px;
}

/* line 1, ../../scss/modules/_registration.scss */
.register_section {
  padding: 30px;
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 30px 0;
  border-bottom: 2px solid #444;
}
/* line 9, ../../scss/modules/_registration.scss */
.register_section .head-register {
  color: #53c9f4;
}
/* line 15, ../../scss/modules/_registration.scss */
.register_section label {
  font-weight: normal !important;
}
/* line 19, ../../scss/modules/_registration.scss */
.register_section .form-control {
  height: 45px;
  border-color: #ccc;
  box-shadow: none;
}
/* line 25, ../../scss/modules/_registration.scss */
.register_section .btn {
  width: 100%;
  background: #53c9f4;
  height: 45px;
}
/* line 31, ../../scss/modules/_registration.scss */
.register_section .forgot-link {
  margin: 10px 0;
}
/* line 35, ../../scss/modules/_registration.scss */
.register_section.login_section {
  padding: 0;
}
/* line 38, ../../scss/modules/_registration.scss */
.register_section.login_section .form-body {
  padding: 0 30px;
}
/* line 41, ../../scss/modules/_registration.scss */
.register_section.login_section .head-register {
  padding: 30px 30px 0;
}
/* line 44, ../../scss/modules/_registration.scss */
.register_section.login_section .bottom-sec {
  padding: 30px;
  background: #f1fbfe;
  border-top: 1px solid #ddd;
}
/* line 49, ../../scss/modules/_registration.scss */
.register_section.login_section .bottom-sec p {
  margin-bottom: 5px;
}
/* line 52, ../../scss/modules/_registration.scss */
.register_section.login_section .bottom-sec a {
  font-size: 18px;
  color: #53c9f4;
}

/* line 1, ../../scss/modules/_footer.scss */
footer {
  background: #404040;
  color: #d4d4d4;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../../scss/modules/_footer.scss */
.grid--inline {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: -2px;
  vertical-align: middle;
}

/* line 11, ../../scss/modules/_footer.scss */
.grid--40 {
  width: 40%;
}

/* line 14, ../../scss/modules/_footer.scss */
.grid--60 {
  width: 60%;
}

/* line 17, ../../scss/modules/_footer.scss */
.footer__top {
  padding: 10px 0;
}

/* line 25, ../../scss/modules/_footer.scss */
.from-subscription {
  padding-left: 25px;
}
/* line 29, ../../scss/modules/_footer.scss */
.from-subscription .form-control, .from-subscription .btn-default {
  height: 40px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 34, ../../scss/modules/_footer.scss */
.from-subscription .btn-default, .from-subscription .btn-default:focus, .from-subscription .btn-default:hover {
  background: #53c9f4;
}

/* line 40, ../../scss/modules/_footer.scss */
.footer__middle {
  background: #4d4d4d;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 3px;
}

/* line 45, ../../scss/modules/_footer.scss */
.footer__main-menus li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 20px 10px;
  width: 16.66667%;
  margin-left: -3px;
}
/* line 51, ../../scss/modules/_footer.scss */
.footer__main-menus li a {
  color: #d4d4d4;
  font-size: 13px;
}

/* line 57, ../../scss/modules/_footer.scss */
.footer__bottom {
  padding: 25px 0 0;
}
/* line 60, ../../scss/modules/_footer.scss */
.footer__bottom li {
  line-height: 14px;
}
/* line 63, ../../scss/modules/_footer.scss */
.footer__bottom li a {
  color: #bababa;
  font-size: 11px;
}

/* line 69, ../../scss/modules/_footer.scss */
.grid-distributed {
  vertical-align: top;
  width: 20%;
  margin-left: -3px;
}

/* line 74, ../../scss/modules/_footer.scss */
.footer__sub-menus {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
}

/* line 87, ../../scss/modules/_footer.scss */
.footer__social-icons span, .footer__verify span, .footer__cards span {
  color: #878787;
  margin-right: 10px;
}

/* line 99, ../../scss/modules/_footer.scss */
.footer__cards {
  padding: 10px 0;
}
/* line 103, ../../scss/modules/_footer.scss */
.footer__cards span {
  margin-right: 0;
}
/* line 106, ../../scss/modules/_footer.scss */
.footer__cards span:first-child {
  margin-right: 10px;
}

/* line 111, ../../scss/modules/_footer.scss */
.footer__copyright {
  color: #878787;
  padding: 10px 0;
  font-size: 11px;
}

/**
 * Search Result Page
 */
/* line 1, ../../scss/modules/_search_navigation.scss */
.search {
  margin: 20px auto;
}

/* line 4, ../../scss/modules/_search_navigation.scss */
.white--bg {
  width: 100%;
  height: auto;
  background: #ffffff;
}

/* line 9, ../../scss/modules/_search_navigation.scss */
.search__navigation {
  padding: 20px 15px;
  -moz-box-shadow: rgba(230, 230, 230, 0.3) 1px 1px 6px;
  -webkit-box-shadow: rgba(230, 230, 230, 0.3) 1px 1px 6px;
  box-shadow: rgba(230, 230, 230, 0.3) 1px 1px 6px;
  border-bottom: 1px solid #ddd;
}

/* line 15, ../../scss/modules/_search_navigation.scss */
.search__headTag h4 {
  margin-bottom: 6px;
}

/* line 21, ../../scss/modules/_search_navigation.scss */
.search_reset a {
  color: #323232;
  font-size: 13px;
}

/* line 27, ../../scss/modules/_search_navigation.scss */
.search__stars label {
  display: block;
}
/* line 33, ../../scss/modules/_search_navigation.scss */
.search__stars img {
  margin-left: 5px;
}

/* line 38, ../../scss/modules/_search_navigation.scss */
.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;
  margin: 20px auto;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
/* line 67, ../../scss/modules/_search_navigation.scss */
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background: #f7f7f7;
  display: none;
}

/* line 77, ../../scss/modules/_search_navigation.scss */
.sample {
  font-size: 12px;
  margin: 10px 0 0;
}

/* line 81, ../../scss/modules/_search_navigation.scss */
.middle-item {
  position: absolute;
  top: 45%;
  margin-top: -150px;
  left: 40%;
}

/* line 87, ../../scss/modules/_search_navigation.scss */
.footer-loader {
  width: 100%;
  height: 30px;
  background: #444;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  line-height: 30px;
  font-size: 12px;
  word-spacing: 5px;
}

/* line 99, ../../scss/modules/_search_navigation.scss */
.search_sectionPage {
  margin: 20px 0 0;
}
/* line 102, ../../scss/modules/_search_navigation.scss */
.search_sectionPage .filter__form__sec {
  width: 100%;
}

/**
 * Spriting Images
 */
/* line 168, icons/*.png */
.icons-sprite, .icons-american, .icons-club, .icons-facebook, .icons-flight, .icons-google, .icons-instagram, .icons-linkedin, .icons-master, .icons-play, .icons-quotes-oppo, .icons-quotes, .icons-review, .icons-rupay, .icons-twitter, .icons-verify, .icons-visa {
  background-image: url('/resources/assets/client/images/icons-sd9c9a91b96.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-american {
  background-position: 0 0;
}

/* line 84, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-club {
  background-position: 0 -26px;
}

/* line 84, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook {
  background-position: 0 -52px;
}

/* line 84, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-flight {
  background-position: 0 -97px;
}

/* line 84, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-google {
  background-position: 0 -112px;
}

/* line 84, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-instagram {
  background-position: 0 -157px;
}

/* line 84, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-linkedin {
  background-position: 0 -202px;
}

/* line 84, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-master {
  background-position: 0 -247px;
}

/* line 84, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-play {
  background-position: 0 -273px;
}

/* line 84, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-quotes-oppo {
  background-position: 0 -328px;
}

/* line 84, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-quotes {
  background-position: 0 -341px;
}

/* line 84, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-review {
  background-position: 0 -354px;
}

/* line 84, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-rupay {
  background-position: 0 -374px;
}

/* line 84, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-twitter {
  background-position: 0 -400px;
}

/* line 84, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-verify {
  background-position: 0 -445px;
}

/* line 84, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-visa {
  background-position: 0 -489px;
}

/* line 25, ../../scss/modules/_common.scss */
body {
  font-family: "Conv_zil";
  background: #f7f7f7;
}

/* line 30, ../../scss/modules/_common.scss */
.custom-radio input[type="radio"] {
  color: #ffffff;
  background: #53c9f4;
  margin-right: 10px;
}

@media screen and (max-width: 1370px) {
  /* line 3, ../../scss/media_quries/_media-common.scss */
  .slider-container, .filter {
    width: 100%;
  }
}
